

.main {
	font-family: 'Amita', cursive;
	margin-left: 2em;
	color: yellow;
	height: 100%;
}

.main * {
	display: block;
}

.title {
	font-size: 30px;
}

.description {
	font-size: 20px;
	width: 50%;
}

.info {
	float: right;
	margin-top: -40%;
	margin-right: 2em;
}

.mail {
	
	width: 100%;
}

.mail * {
	display: inline-block;
	
}

.number {
	font-size: 20px;
}

.location {
	font-size: 30px;
	text-decoration: underline;
	font-weight: bold;
}

.address {
	font-family: Times New Roman;
	margin-left: 0em;
	font-size: 20px;
	margin-left: 1em;
}