.main-img img {
	width:100%;
	height:100%;
	display: block;
	margin: auto;
	object-fit: contain;
}

.info {
	position: relative;
	top: 0em;
	height: 100%;
	font-size: 20px;
	line-height: 2em;
	text-align: center;
	padding-bottom: 2em;
	background-color: darkgreen;
}

.info h1 {
	padding-top: 2em; 
	font-size: 60px;
	color: yellow;
	text-decoration: bold;
}

#name {
	padding-top: 0.3em;
	text-decoration: underline;
}

.block {
	background-color: #4caa00;
	text-align: center;
	height: 100%;
	padding-bottom: 2em;
	margin-bottom: 2em;
}

.block h1 {
	letter-spacing: 0.25em;
	position: relative;
	top: 1em;
	font-size: 40px;
	color: gold;
	text-shadow: 5px 0px 5px black;
	text-decoration: underline;
}

#robot {
	letter-spacing: 0.1em;
	top: 0.5em;
	font-size: 60px;
	color : darkgreen;
	text-shadow: 3px 0px 5px gold;
	text-decoration: none;
	font-family: 'Cinzel', serif;
}

.block iframe {
	width: 75%;
	height: 31.25em;
}

.info p {
	color: yellow;
}
