.right {
	float: right;
	margin-right: 1%;
}

.left {
	float: left;
	margin-left: 1%;
}

.media {
	margin-top: 5%;
	background-color: #4caa00;
	height: 30em;
}

.vid {
	text-align: center;
	padding-top: 3%;
	width: 45%;
	height: 86%;
}

.text {
	font-family: Arial;
	font-size: 18px;
	color: yellow;
	padding-top: 6%;
	line-height: 200%;
	width: 50%;
	height: 50%;
	text-shadow: 1px 0px 5px black;
}

.social {
	height: 15em;
}

.title h1 {
	color: yellow;
	font-size: 50px;
	margin-left: 1%;
	padding-top: 2%;
	text-shadow: 1px 0px 5px black;
}

.title p {
	color: yellow;
	font-size: 20px;
	margin-left: 1%;
	margin-top: -1%;
	padding-top: -2%;
	width: 40%;
	text-shadow: 1px 0px 5px black;
	line-height: 200%;
}

.media-photos {
	float: right;
	position: relative;
	margin-right: 5%;
	bottom: 50%;
}

.media-photos img {
	width: 5em;
	height: 5em;
	margin-left: 4em;
	padding: 0.5em 0.5em 0.5em 0.5em;
	
	border-radius: 15px;
}
