
html, body {
	margin:0;
	padding:0;
	height:100%;
	background-color: darkgreen;
}


.logo img {
	position: absolute;
	height: 10%;
	width:  20%;
	z-index: 20;
}

.header {

	height: 4.5em;
	background-color: green;
}

.nav {
	
	text-align: center;
	width: 70%;
	position: relative;
	float: right;
	top: 0;
	word-spacing: 3em;
	padding-top: 0.5em;
	
	z-index: 30;
}

.nav li, .nav a:link, .nav a:visited {
	display: inline-block;
	text-decoration: none;
	font-size: 22px;
	font: cursive; 
	color: yellow;
}

.nav li:hover, .nav a:hover {
	color: gold;
}


.footer {
	color: gold;
	background-color: #003f01;
	border-top: 1px solid black;
	padding-bottom: 0.5em;
	padding-top: 0.5em;
	text-align: center;
	font-size: 14px;

}
