html, body {
    max-width: 100%;
    overflow-x: hidden;
}

/* Use for variables */
:root {
    --green: #00C851;
}
.parallax-window {
    min-height: 100vh;
}

/* for href="#" links */
.anchor{
    display: block;
    height: 30vh; /*same height as header*/
    margin-top: -30vh; /*same height as header*/
    visibility: hidden;
}
.fix {
    position: fixed;
     top:0;
}
#nav {
  /*  transition: all 3s ease;*/
}

#sticky-phantom {
    visibility: hidden;
}
.remove 
{
    display: none;
}

.banner 
{
    height: 20em !important;
}
.vertical-center 
{
    padding-top: 40vh;
}
.nav-item
{
    font-size: 18px;
}
.logo
{
    display: block;
    width: 80%;
    height: 7em;
    position: relative;
    z-index: 10;
}

#head{
    position: relative;
    top: -2em;
}



#logos div
{
    background-color: var(--green);
}

.top-nav-collapse {
    background: var(--green) !important;
}

hr {
    border : 1px solid var(--green);
}

#team 
{
    font-size: 20px;
    line-height: 2em; 
    text-align: center;
}

#rocket
{
    transform: rotate(-40deg);
    height: 15em;
}

.paragraph 
{
    line-height: 2em;
    font-family: 'Oxygen Mono', cursive;
    font-size: 16px;
}


.paragraph h4
{
    font-weight: bold;
 
}
.paragraph h1
{
    font-style: italic;
    text-decoration: underline;
    text-decoration-color: #00C851;
}

#name
{
    color: #00C851;
     text-shadow: 2px 0px 0px gold;
      text-decoration: underline;
}
